* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  height: 3rem;
  background-color: #2874f0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo img {
  margin-top: 0;
}
.searchbar input {
  height: 2rem;
  width: 500px;
  padding: 1rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 14px;
  font-weight: 600;
  border: none;
}
.btn-login {
  padding: 0.5rem 2rem;
  color: #2873f0;
  border-radius: 3px;
}
.btn-more,
.btn-cart {
  background-color: transparent;
  border: none;
  color: white;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
  padding: 1rem 4rem 1rem 4rem;
}
.category {
  text-align: center;
}
.head img {
  height: 75px;
}
.ad {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dotd {
  /*margin: 1rem 4rem 1rem 4rem;*/
  box-shadow: 0 2px 4px 0 rgb(0 0 0/16%);
}
.dotd-header,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}
.heading {
  display: flex;
  align-items: center;
}
.btn-view {
  background-color: #2874f0;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.dotd-items,
.items {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.item .body p {
  padding: 0.4rem;
}
.txt {
  font-weight: 400;
}
.offer {
  color: green;
}
.tag {
  font-size: 12px;
  color: grey;
}
.new-ad {
  box-shadow: 0 2px 4px 0 rgb(0 0 0/16%);
}
.books-music {
  margin: 1rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0/16%);
}
.heading1 {
  display: flex;
  flex-direction: column;
}
.text {
  color: grey;
  font-size: 12px;
  padding-top: 0.3rem;
}
@media screen and (max-width: 829px) {
  .navbar {
    height: 9rem;
    min-width: fit-content;
    flex-wrap: wrap;
  }
  .categories {
    flex-wrap: wrap;
  }
  .dotd-items,
  .items {
    flex-wrap: wrap;
  }
  .new-ad {
    display: none;
  }
}
